<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" href="./css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    </style> 
</head>
<body>
    <header>
        <div id="logo-line">
            <p>DIMI MARKET</p>
        </div>
        <div id="header-container">
            <ul id="home">홈</ul>
            <ul id="search">검색</ul>
            <ul id="profile">프로필</ul>
        </div>
        <div id="color-line"></div>
    </header>
    <div id="zero-page"></div>
    <div id="exploain-text">This page is main page!</div>
    <div id="product-box-container">
        <%for (let i =0; i<id.length; i++){%>
            <div class="product-box">
                <h3 class="product-box-title"><%=title[i]%></h3>
                <p class="product-box-contents"><%=desc[i]%></p>
                <p class="author">게시자:<%=author[i]%>(<%=profile[i]%>)</p>
                <p class="created-data"><%=created[i]%></p>
            </div>
        <%}%>
    </div>
    <div onclick="goToCreatePage();" id="create-btn">+</div>
    <script>
        function goToCreatePage(){
            location.href = "/create";
        }
    </script>
</body>
</html>